.ourValues {
    background-color: #F9FAFB;
    border: 1px solid #e6e8ec;
}
.header {
    max-width: 565px;
    width: 100%;
    margin-bottom: 100px;
}
.body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 55px 100px;
}
.content {
    max-width: 505px;
    width: 100%;
    /* padding-bottom: 50px; */
}
.title {
    color: black;
}

@media (max-width: 767px) {
    .body {
        grid-template-columns: 1fr;
    }
    .content {
        max-width: 100%;
    }
    .header {
        margin-bottom: 60px;
    }
}