.body {
  display: flex;
  justify-content: space-between;
}
.testimonials {
  border: 1px solid #efeff0;
  background-color: #f9fafb;
}




@media (max-width: 767px) {
  .body {
    flex-direction: column-reverse;
  }
  .testimonial {
    margin: 0px 0px 25px 0px;
  }
  .testimonialColumn {
    max-width: 685px;
  }

}
