.body {
  margin-top: -100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px 25px;
}

@media (max-width: 1260px) {
  .body {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 920px) {
  .body {
    grid-template-columns: 1fr 1fr;
    gap: 30px 25px;
  }
}
@media (max-width: 620px) {
  .body {
    grid-template-columns: 1fr;
  }
}
