.body {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #efeff0;
  padding-top: 40px;
}

.FAQs {
  max-width: 825px;
  width: 100%;
  display: flex;
}

.faqRow {
  display: none;
  max-width: 825px;
  width: 100%;
  cursor: pointer;
}
.faqRow.active {
  display: block;
}

@media (max-width: 767px) {
  .body {
    flex-direction: column;
  }
}
