.outpatientTabs {
  display: flex;
  margin: 0px 0px 50px 0px;
  border-bottom: 1px solid #e6e8ec;
}

.outpatientTab {
  padding: 10px 0px;
  margin-right: 25px;
  cursor: pointer;
}
.outpatientTab.active {
  color: #0047ff;
  border-bottom: 2px solid #0047ff;
}

.tabs {
  display: none;
  width: 100%;
  cursor: pointer;
}
.tabs.active {
  display: block;
}
.content {
  display: grid;
  width: 100%;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px 50px;
}

.outpatientContent {
  max-width: 500px;
  width: 100%;
}
.title {
  color: black;
}

@media (max-width: 767px) {
    .content {
        grid-template-columns: 1fr;
    }
    .outpatientContent  {
        max-width: 100%;
    }
    .outpatientTabs {
      display: none;
    }
}