.header {
  padding: 80px 0px;
  border-bottom: 1px solid #e6e8ec;
}
.body {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}
.column {
    /* max-width: 530px; */
    width: 100%;
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px 50px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}