.aboutUsNav {
    position: fixed;
    top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e6e8ec;
    width: 100%;
    z-index: 999;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 700px;
    width: 100%;
}
.link {
    color: #787E8C;
    padding: 20px 0px;
    min-width: 95px;
}
.link:hover {
    color: #787E8C;
}
.link.active {
    color: #000000;
    border-bottom: 2px solid #000000;
}

@media (max-width: 1023px) {
    .aboutUsNav {
        top: 62px;
    }
    .container {
        padding: 0px 40px;
        /* max-width: 100%; */
    }
}
@media (max-width: 530px) {
    .container {
        padding: 0px 20px;
        overflow: scroll;
        overflow-y: scroll;
        /* justify-content: flex-start; */
    }
    .link {
        margin-right: 20px;
    }
}