.container {
  max-width: 1110px;
  /* width: 100%; */
  margin: 0px auto;
  padding: 150px 80px;
}
@media (max-width: 1024px) {
  .container {
    padding: 100px 60px;
    max-width: 944px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 80px 40px;
    max-width: 688px;
  }
}
@media (max-width: 430px) {
  .container {
    padding: 80px 20px;
    /* max-width: 688px; */
  }
}
