.header {
  background-color: black;
}
.column {
  max-width: 400px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.links {
  max-width: 520px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.link {
  color: #787e8c;
}
.link:hover {
  color: white;
}
.bottom {
  background-color: black;
  border-top: 1px solid rgba(255, 255, 255, 0.17);
}
.footerBottomContainer {
  max-width: 1110px;
  margin: 0px auto;
  padding: 20px 0px;
}
@media (max-width: 968px) {
  .row {
    flex-direction: column-reverse;
  }
  .column {
    margin-top: 50px;
  }
  .links {
    max-width: 100%;
  }
  .footerBottomContainer {
    padding: 20px 40px;
  }
}
@media (max-width: 767px) {
  .footerBottomContainer {
    padding: 20px 40px;
  }
}
@media (max-width: 430px) {
  .footerBottomContainer {
    padding: 20px;
  }
  .footerBottomContainer p {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  .links {
    display: flex;
    flex-direction: column;
  }
  .link {
    padding-bottom: 20px;
  }
}
