.navigation {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e8ec;
}
.navContainer {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0px 80px;
}
.navbarLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImage {
  width: 196px;
  height: 22px;
}
.navbar {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 680px;
  width: 100%;
}
.navLink {
  color: #787e8c;
}
.navLink:hover,
.navLink.active {
  color: #000000;
  cursor: pointer;
}
.burger {
  display: none;
}
.burgerMenu {
  position: fixed;
  top: 62px;
  z-index: 900;
  background-color: white;
  min-width: 290px;
  height: 100vh;
  width: 100%;
  left: 0px;
  /* padding: 0px 40px; */
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}
.burgerMenu.active {
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sidebarLinks {
  padding: 20px 40px;
  border-bottom: 1px solid #e6e8ec;
  color: #787e8c;
}
.burgerLine {
  display: block;
  width: 25px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
  height: 3px;
}
.buttonContainer {
  padding: 20px 40px;
  width: 100%;
}
@media (max-width: 1024px) {
  .navContainer {
    max-width: 944px;
    padding: 0px 40px;
  }
  .burger {
    display: block;
  }
  .navLinks {
    display: none;
  }
  .burgerLine.active:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burgerLine.active:nth-child(2) {
    opacity: 0;
  }
  .burgerLine.active:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
@media (max-width: 767px) {
  .navContainer {
    padding: 0px 20px;
  }
  .buttonContainer {
    padding: 20px 20px;
  }
  .sidebarLinks {
    padding: 20px 20px;
  }
}
