.navigation {
  position: fixed;
  z-index: 1000px;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  border-bottom: 1px solid #e6e8ec;
}
.navContainer {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0px 80px;
}
.navbarLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoImage {
  width: 196px;
  height: 22px;
}
.navbar {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 680px;
  width: 100%;
}
.navLink {
  color: #787e8c;
}
.navLink:hover,
.navLink.active {
  color: #000000;
  cursor: pointer;
}
.burgerMenu {
  display: none;
}
.burgerLine {
  display: block;
  width: 25px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #000000;
  height: 3px;
}
.mobileNav {
  display: none;
}
@media (max-width: 1024px) {
  .navContainer {
    max-width: 944px;
    padding: 0px 40px;
  }
  .burgerMenu {
    display: block;
  }
  .navLinks {
    display: none;
  }
}
@media (max-width: 767px) {
  .navContainer {
    padding: 0px 20px;
  }
}
