.header {
    max-width: 540px;
    width: 100%;
    margin-bottom: 100px;
}
.body {
    display: flex;
    justify-content: space-between;
}

.column {
    max-width: 540px;
}
.title {
    margin: 20px 0px 5px 0px;
    color: black;
}