.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.column {
  width: 100%;
}
.IMG {
  width: 100%;
  height: auto;
}
.title {
  margin: 20px 0px 5px 0px;
  color: black;
}
@media (max-width: 767px) {
  .body {
    grid-template-columns: 1fr;
  }
}
