.header {
  max-width: 630px;
  padding-bottom: 100px;
}

.videoContainer {
  position: relative;
  overflow: hidden;
  height: 0px;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  z-index: 50px;
}
.videoContainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50px;
}
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .header {
    padding-bottom: 50px;
  }
}
