.title {
  max-width: 570px;
}

.employees {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: stretch;
  gap: 50px 25px;
  max-width: 1110px;
  width: 100%;
}
.specialists {
  background-color: #f9fafb;
  border: 1px solid #efeff0;
}
@media (max-width: 1230px) {
  .employees {
    grid-template-columns: 1fr 1fr;
    gap: 50px 50px;
  }

  .title {
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .employees {
    grid-template-columns: 1fr;
    gap: 50px 0px;
  }
}
